---
- name: Add gh cli signing key
  apt_key:
    url: https://cli.github.com/packages/githubcli-archive-keyring.gpg
    id: 2C6106201985B60E6C7AC87323F3D4EA75716059
    state: present

- name: Add gh cli repo
  apt_repository:
    repo: "deb [arch=amd64] https://cli.github.com/packages stable main"
    filename: atom
    state: present
    update_cache: True

- name: Install gh cli
  apt:
    name: gh
    state: present
