---
# Use the fingerprint and matching key from: https://launchpad.net/~phoerious/+archive/ubuntu/keepassxc
- block:
    - name: add KeePassXC PPA
      ansible.builtin.apt_repository:
        repo: ppa:phoerious/keepassxc
        state: present
        update_cache: yes

    - name: install KeePassXC
      ansible.builtin.apt:
        name: keepassxc
        state: latest
  tags: ['keepassxc']
