[Desktop Entry]
Name=Bitwarden
Exec={{ bitwarden_bin }}{{ '' if bitwarden_chromium_sandbox | bool else ' --no-sandbox' }} %U
Terminal=false
Type=Application
Icon={{ bitwarden_icon_dir }}/bitwarden.png
StartupWMClass=Bitwarden
X-AppImage-Version={{ bitwarden_target_version }}
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
MimeType=x-scheme-handler/bitwarden;
Categories=Utility;
