[Desktop Entry]
Type=Application
Exec=gnome-terminal --geometry=90x55
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=gnome-terminal
Name=gnome-terminal
Comment[en_CA]=start gnome-terminal
Comment=start gnome-terminal
