[Desktop Entry]
Type=Application
Exec=/usr/bin/google-chrome-stable
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=google chrome
Name=google chrome
Comment[en_CA]=Start Google chrome
Comment=Start Google chrome
