---
- name: Add Opera apt key
  apt_key:
    url: https://deb.opera.com/archive.key
    id: 9FBDE02F55F254D700821CCCDD3C368A8DE1B7A0
    state: present

- name: Add Opera apt repository
  apt_repository:
    repo: "deb https://deb.opera.com/opera-stable/ stable non-free"
    filename: opera
    state: present
    update_cache: True

- name: Install Opera from repository
  apt:
    name: opera-stable
    state: latest
