---
#- name: Add Google linux signing key
#  apt_key: 
#    url: https://dl-ssl.google.com/linux/linux_signing_key.pub
#    id: EB4C1BFD4F042F6DDDCCEC917721F63BD38B4796
#    state: present

- name: Add Chrome apt repository key
  get_url:
    url: https://dl-ssl.google.com/linux/linux_signing_key.pub
    dest: /etc/apt/trusted.gpg.d/chrome-stable.asc
    mode: "0644"
    force: true

- name: Add Google chrome repo
  apt_repository:
    repo: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    filename: google-chrome
    state: present
    update_cache: True

- name: Install Google chrome
  apt:
    name: "{{ chrome_package }}"
    state: present
