---
# SSH server and client config changes
- name: authentication | sshd_config
  template:
    src: "sshd_config.j2"
    dest: "/etc/ssh/sshd_config"
    mode: 0644
    owner: root
    group: root
  notify: reload sshd

- name: authentication | ssh_config
  template:
    src: "ssh_config.j2"
    dest: "/etc/ssh/ssh_config"
    mode: 0644
    owner: root
    group: root
