---
- name: Ensure development packages and libraries are installed
  apt:
    state: latest
    pkg: "{{ item }}"
  loop:
    - build-essential
    - gcc
    - git
    - gitk
    - golang
    - httpie
    - jq
    - make
    - pipx
    - python3-argcomplete
    - python3-boto3
    - python3-bottle
    - python3-demjson
    - python3-psutil
    - python3-urllib3
    - python3-venv
    - shellcheck
    - shfmt
    - universal-ctags
  loop_control:
    label: "{{ item }}"

- name: install development tools
  community.general.pipx:
    state: latest
    name: "{{ item }}"
    install_deps: true
  loop:
    - bandit
    - black
    - flake8
    - glances
    - pre-commit
    - pytest
    - ruff
    - yamlfmt
    - yamllint
  become: false

- name: Check if pipx path is present
  shell: test -d ~/.local/bin && echo "Pipx ensurepath executed" || echo "Pipx ensurepath not executed"
  register: pipx_ensurepath_output
  changed_when: false
  ignore_errors: true
  become: false

- name: Execute pipx ensurepath, if required
  command: pipx ensurepath
  when: pipx_ensurepath_output.rc != 0
  become: false
