---
- name: packages | apt update && apt dist-upgrade *MAY TAKE A LONG TIME*
  apt:
    update_cache: true
    upgrade: dist

# keep alphabetically ordered
- name: packages | install standard additions to the base install
  apt:
    state: latest
    pkg:
      - bat
      #- brasero
      - build-essential
      - chromium-browser
      - clamav
      - clamav-daemon
      - curl
      #- exfat-utils
      #- fzf # installed via github
      - gcc
      - gimp
      - git
      - gitk
      - golang
      - graphviz
      - htop
      - httpie
      - jq
      - make
      - meld
      - net-tools
      - nmap
      - p7zip
      - python3-pip
      #- qpdf
      - ranger
      - ripgrep
      - rtorrent
      - silversearcher-ag
      - sshfs
      - sshpass
      - tcpdump
      - tmux
      - tree
      - ufw
      - unrar
      - unzip
      #- vim-gtk3 # install by github and compile
      - virtualbox
      - vlc
      - whois
      - xclip

- name: packages | apt autoremove & autoclean
  apt:
    autoremove: true
    autoclean: true

- name: packages | enable clamav service
  systemd:
    name: clamav-daemon
    enabled: true
    state: started

- name: packages | install additional pip packages
  pip:
    state: latest
    executable: pip3
    name:
      #- pip # self upgrade pip first
      - glances
      - bottle
