---
- name: Ensure snapd is installed
  apt:
    name: snapd
    state: present
  become: yes

- name: Remove Firefox Snap
  snap:
    name: firefox
    state: absent
  become: yes

- name: Install Snap packages
  snap:
    name: "{{ item }}"
    state: present
  loop:
    - chromium
    - slack
  loop_control:
    label: "{{ item }}"
  become: yes
