---
# black,flake8 and yamllint are installed with brew on MacOS
- name: install python black, flake8, yamllint with pip
  pip:
    state: latest
    extra_args: --user
    executable: pip3
    name:
      - black
      - flake8
      - yamllint
  when:
    - ansible_facts['os_family'] == 'Debian'

- name: Set directory paths based on OS (Debian/Ubuntu)
  set_fact:
    home_dir: "{{ ansible_env['PWD'] }}"
    local_username: "{{ ansible_env['USER'] }}"
  when:
    - ansible_facts['os_family'] == 'Debian'

- name: Set directory paths based on OS (Darwin/MacOS)
  set_fact:
    home_dir: "{{ ansible_env['PWD'] }}"
    local_username: "{{ ansible_user }}"
  when:
    - ansible_facts['os_family'] == 'Darwin'

# to be removed; left in for testing purposes
- name: ansible_user
  debug:
    msg:
      - "{{ home_dir }}"
      - "{{ local_username }}"

- name: create config yamllint directory
  file:
    state: directory
    path: "{{ home_dir }}/.config/yamllint"
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
    mode: "0775"
    force: true
  when:
    - ansible_facts['os_family'] == 'Debian'

- name: install yammlint config to home .config directory
# relax some of the yammlint rules with this config
  copy:
    src: "config"
    dest: "{{ home_dir }}/.config/yamllint/config"
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
    mode: "0644"
    force: true
  when:
    - ansible_facts['os_family'] == 'Debian'

- name: install ALE plugin
  git:
    repo: "https://github.com/dense-analysis/ale.git"
    dest: "{{ home_dir }}/.vim/pack/git-plugins/start/ale"

- name: install hashivim plugin
  git:
    repo: "https://github.com/hashivim/vim-terraform.git"
    dest: "{{ home_dir }}/.vim/pack/plugins/start/vim-terraform"

- name: install vimwiki plugin
  git:
    repo: "https://github.com/vimwiki/vimwiki.git"
    dest: "{{ home_dir }}/.vim/pack/plugins/start/vimwiki"

- name: check if vimwiki plugin help is installed
  stat:
    path: "{{ home_dir }}/.vim/pack/plugins/start/vimwiki/doc/tags"
  register: vimwiki_help

- name: enable vimwiki help
  shell:
    vim -u NONE -c "helptags  {{ home_dir }}/.vim/pack/plugins/start/vimwiki/doc" -c quit
  when:
    - not vimwiki_help.stat.exists
    - ansible_facts['os_family'] == 'Debian'

- name: install indentLine plugin
  git:
    repo: "https://github.com/Yggdroot/indentLine.git"
    dest: "{{ home_dir }}/.vim/pack/vendor/start/indentLine"

- name: check if indentLine plugin help is installed
  stat:
    path: "{{ home_dir }}/.vim/pack/vendor/start/indentLine/doc/tags"
  register: indentLine_help

# this command does not appear to work for MacOS/ZSH, to be investigated
- name: enable indentLine help
  shell:
    vim -u NONE -c "helptags  {{ home_dir }}/.vim/pack/vendor/start/indentLine/doc" -c quit
  when:
    - not indentLine_help.stat.exists
    - ansible_facts['os_family'] == 'Debian'

#- name: install Github CodePilot Plugin
#  git:
#    repo: "https://github.com/github/copilot.vim.git"
#    dest: "/home/{{ local_username }}/.vim/pack/github/start/copilot.vim"

- name: install fzf plugin
  git:
    repo: "https://github.com/junegunn/fzf.vim.git"
    dest: "{{ home_dir }}/.vim/bundle/fzf.vim"

- name: install vim-commentary plugin
  git:
    repo: "https://github.com/tpope/vim-commentary.git"
    dest: "{{ home_dir }}/.vim/pack/tpope/start/commentary"

- name: check if vim-commentary help plugin is installed
  stat:
    path: "{{ home_dir }}/.vim/pack/tpope/start/commentary/doc/tags"
  register: vim_commentary_help

# this command does not appear to work for MacOS/ZSH, to be investigated
- name: install vim-commentary plugin help
  shell:
    vim -u NONE -c "helptags  {{ home_dir }}/.vim/pack/tpope/start/commentary/doc" -c quit
  when:
    - not vim_commentary_help.stat.exists
    - ansible_facts['os_family'] == 'Debian'

- name: install Codeium plugin
  git:
    repo: "https://github.com/Exafunction/codeium.vim"
    dest: "{{ home_dir }}/.vim/pack/Exafunction/start/codeium.vim"
  when:
    - ansible_facts['os_family'] == 'Debian'

- name: install monokai colorscheme
  git:
    repo: "https://github.com/sickill/vim-monokai.git"
    dest: "{{ home_dir }}/.vim/pack/colors/start/monokai"

# temporarily disregard group, due to group names disparity for MacOS
- name: install .vimrc to home directory
  copy:
    src: ".vimrc"
    dest: "{{ home_dir }}/.vimrc"
    owner: "{{ local_username }}"
    #group: "{{ local_username }}"
    mode: "0644"
    force: true
