---
- name: install linters and fixer for vim
  apt:
    state: latest
    pkg:
      - black
      - flake8
      - yamllint

- name: create directory for ALE plugin
  file:
    path: "/home/{{ local_username }}/.vim/pack/git-plugins/start"
    state: directory
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
    mode: "0755"

- name: install ALE plugin
  git:
    repo: "https://github.com/dense-analysis/ale.git"
    dest: "/home/{{ local_username }}/.vim/pack/git-plugins/start/ale"

- name: install hashivim plugin
  git:
    repo: "https://github.com/hashivim/vim-terraform.git"
    dest: "/home/{{ local_username }}/.vim/pack/plugins/start/vim-terraform"

- name: install indentLine plugin
  git:
    repo: "https://github.com/Yggdroot/indentLine.git"
    dest: "/home/{{ local_username }}/.vim/pack/vendor/start/indentLine"

- name: enable indentLine help
  shell:
    vim -u NONE -c "helptags  /home/{{ local_username }}/.vim/pack/vendor/start/indentLine/doc" -c "q"

- name: install .vimrc to home directory
  copy:
    src: ".vimrc"
    dest: "/home/{{ local_username }}/.vimrc"
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
    mode: "0644"
