---
#- name: install env_functions.sh
  #copy:
    #src: "env_functions_v2.sh"
    #dest: "/home/{{ local_username }}/.bashrc.d/"
    #owner: "{{ local_username }}"
    #group: "{{ local_username }}"
    #mode: "0644"

- name: install git_bash_ps1.sh
  copy:
    src: "git_bash_ps1.sh"
    dest: "/home/{{ local_username }}/.bashrc.d/"
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
    mode: "0644"

- name: install .dircolors to home directory
  copy:
    src: ".dircolors"
    dest: "/home/{{ local_username }}/.dircolors"
    owner: "{{ local_username }}"
    group: "{{ local_username }}"
    mode: "0644"

- name: update current .bashrc file
  blockinfile:
    path: "/home/{{ local_username }}/.bashrc"
    block: |
      source "/home/{{ local_username }}/.bashrc.d/git_bash_ps1.sh"

      HISTSIZE=100000
      HISTFILESIZE=200000
      HISTCONTROL=ignoreboth

      alias cb='xclip -sel clip'
      complete -C '/usr/local/bin/aws_completer' aws
    create: True
    backup: True
