Vagrant.configure("2") do |config|
  config.vm.define "{{ vm_name }}"
  config.vm.box = "{{ vm_box }}"

  # NAT network with static IP
  config.vm.network "private_network", ip: "{{ vm_ip }}"

  config.vm.provider :libvirt do |lv|
    lv.memory = {{ vm_memory }}
    lv.cpus = {{ vm_cpus }}
    lv.nic_model_type = "virtio"
  end

  config.vm.boot_timeout = 600

  # Use default Vagrant insecure key
  config.ssh.insert_key = false
end
