#!/bin/bash
set -e

cd "{{ project_dir }}"

HOST_IP=$(vagrant ssh-config | awk '/HostName/ {print $2}')
KEY_FILE=$(vagrant ssh-config | awk '/IdentityFile/ {print $2}')

echo
echo "Copy & paste this SSH command:"
echo
echo "ssh -i ${KEY_FILE} vagrant@${HOST_IP}"
echo
